<pre class="prettyprint linenums">&lt;!DOCTYPE html&gt;
&lt;html&gt;

&lt;head&gt;
	&lt;title&gt;Block Explorer&lt;/title&gt;
	&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"&gt;&lt;/script&gt;
	&lt;script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"&gt;&lt;/script&gt;
	&lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"&gt;&lt;/script&gt;
	&lt;link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"&gt;
&lt;/head&gt;

&lt;body ng-app="BlockExplorer"&gt;
	&lt;div class="container" ng-controller="MainController"&gt;
		&lt;div class="row"&gt;
			&lt;div class="col-md-8 offset-md-2"&gt;
				&lt;h1 id="page-title"&gt;Block Explorer&lt;/h1&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="row"&gt;
			&lt;div class="col-md-6 offset-md-3"&gt;
				&lt;form ng-submit="search(searchValue)"&gt;
					&lt;div class="form-group"&gt;
						&lt;input type="text" class="form-control" ng-model="searchValue"&gt;
					&lt;/div&gt;
					&lt;div class="form-group"&gt;
						&lt;select class="form-control" ng-model="searchType"&gt;
							&lt;option value="block"&gt;Block Hash&lt;/option&gt;
							&lt;option value="transaction"&gt;Transaction ID&lt;/option&gt;
							&lt;option value="address"&gt;Address&lt;/option&gt;
						&lt;/select&gt;
					&lt;/div&gt;
					&lt;button
						type="submit"
						class="btn btn-primary margin-auto btn-search"&gt;
							Search
					&lt;/button&gt;
					&lt;p ng-if="!block &amp;&amp; !transaction &amp;&amp; !addressData &amp;&amp; initialSearchMade" class="no-data-text"&gt;
						No data found for search.
					&lt;/p&gt;
				&lt;/form&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="row"&gt;
			&lt;div class="col-md-10 offset-md-1"&gt;

				&lt;!-- 'display block' table --&gt;
				&lt;h3 class="table-title" ng-if="block"&gt;Block&lt;/h3&gt;
				&lt;table class="table table-striped" ng-if="block"&gt;
					&lt;tbody&gt;
						&lt;tr&gt;	
							&lt;td class="bold"&gt;Block Hash&lt;/td&gt;
							&lt;td&gt;{&zwnj;{ block.hash }}&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;	
							&lt;td class="bold"&gt;Index&lt;/td&gt;
							&lt;td&gt;{&zwnj;{ block.index }}&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;	
							&lt;td class="bold"&gt;Time Stamp&lt;/td&gt;
							&lt;td&gt;{&zwnj;{ block.timestamp }}&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;	
							&lt;td class="bold"&gt;Nonce&lt;/td&gt;
							&lt;td&gt;{&zwnj;{ block.nonce }}&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;	
							&lt;td class="bold"&gt;Previous Hash&lt;/td&gt;
							&lt;td&gt;{&zwnj;{ block.previousBlockHash }}&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;	
							&lt;td class="bold"&gt;Number Transactions&lt;/td&gt;
							&lt;td&gt;{&zwnj;{ block.transactions.length }}&lt;/td&gt;
						&lt;/tr&gt;
					&lt;/tbody&gt;
				&lt;/table&gt;
				&lt;!-- end 'display block' table --&gt;

				&lt;!-- 'display transaction' table --&gt;
				&lt;h3 class="table-title" ng-if="transaction"&gt;Transaction&lt;/h3&gt;
				&lt;table class="table table-striped" ng-if="transaction"&gt;
					&lt;tbody&gt;
						&lt;tr&gt;	
							&lt;td class="bold"&gt;Sender&lt;/td&gt;
							&lt;td&gt;{&zwnj;{ transaction.sender }}&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;	
							&lt;td class="bold"&gt;Recipient&lt;/td&gt;
							&lt;td&gt;{&zwnj;{ transaction.recipient }}&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;	
							&lt;td class="bold"&gt;Amount&lt;/td&gt;
							&lt;td&gt;{&zwnj;{ transaction.amount }}&lt;/td&gt;
						&lt;/tr&gt;
					&lt;/tbody&gt;
				&lt;/table&gt;
				&lt;!-- end 'display transaction' table --&gt;

				&lt;!-- 'display address' table --&gt;
				&lt;h3 class="table-title" ng-if="addressData"&gt;Address&lt;/h3&gt;
				&lt;p id="balance-text" ng-if="addressData"&gt;(Balance: {&zwnj;{ addressData.addressBalance }})&lt;/p&gt;
				&lt;table class="table table-striped" ng-if="addressData"&gt;
					&lt;thead&gt;
						&lt;tr&gt;
							&lt;th scope="col"&gt;Sender&lt;/th&gt;
							&lt;th scope="col"&gt;Recipient&lt;/th&gt;
							&lt;th scope="col"&gt;Amount&lt;/th&gt;
						&lt;/tr&gt;
					&lt;/thead&gt;
					&lt;tbody&gt;
						&lt;tr ng-repeat="transaction in addressData.addressTransactions"&gt;
							&lt;td&gt;{&zwnj;{ transaction.sender }}&lt;/td&gt;
							&lt;td&gt;{&zwnj;{ transaction.recipient }}&lt;/td&gt;
							&lt;td&gt;{&zwnj;{ transaction.amount }}&lt;/td&gt;
						&lt;/tr&gt;
					&lt;/tbody&gt;
				&lt;/table&gt;
				&lt;!-- end 'display address' table --&gt;

			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;script&gt;
		window.app = angular.module('BlockExplorer', []);

		app.controller('MainController', function($scope, $http) {
			$scope.block = null;
			$scope.transaction = null;
			$scope.addressData = null;
			$scope.initialSearchMade = false;

			$scope.fetchBlock = function(blockHash) {
				$http.get(`/block/${blockHash}`)
				.then(response =&gt; {
					$scope.block = response.data.block;
					$scope.transaction = null;
					$scope.addressData = null;
				});
			};

			$scope.fetchTransaction = function(transactionId) {
				$http.get(`/transaction/${transactionId}`)
				.then(response =&gt; {
					$scope.transaction = response.data.transaction;
					$scope.block = null;
					$scope.addressData = null;
				});				
			};

			$scope.fetchAddressData = function(address) {
				$http.get(`/address/${address}`)
				.then(response =&gt; {
					$scope.addressData = response.data.addressData;
					if (!$scope.addressData.addressTransactions.length) $scope
						.addressData = null;
					$scope.block = null;
					$scope.transaction = null;
				});				
			};

			$scope.search = function(searchValue) {
				$scope.initialSearchMade = true;
				if ($scope.searchType === 'block') {
					$scope.fetchBlock(searchValue);
				}
				else if ($scope.searchType === 'transaction') {
					$scope.fetchTransaction(searchValue);
				}
				else if ($scope.searchType === 'address') {
					$scope.fetchAddressData(searchValue);
				}
			};

		});
	&lt;/script&gt;

	&lt;style type="text/css"&gt;
		html, body {
			min-height: 100vh;
			background-color: #e8e8e8;
		}
		.container {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		#page-title {
			text-align: center;
			margin-bottom: 40px;
		}
		.table-title {
			margin-bottom: 20px;
			text-align: center;
		}
		.table {
			background-color: #ffffff;
			box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
		}
		#balance-text {
			text-align: center;
			margin-top: -20px;
			margin-bottom: 30px;
		}
		.margin-auto {
			margin: auto;
			display: block;
		}
		.btn-search {
			margin-bottom: 50px;
		}
		.bold {
			font-weight: 700;
		}
		.no-data-text {
			color: red;
			text-align: center;
		}
	&lt;/style&gt;


&lt;/body&gt;

&lt;/html&gt;</pre>